{% extends 'maitreAdmin.html' %}

{% block titre %}Supprimer un utilisateur{% endblock %}
{% block titre_page %}Supprimer l'utilisateur{% endblock %}

{% block contenu %}
<div class="container">
    <form method="post" class="text-center">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td><p>Voulez-vous supprimer l'utilisateur {{utilisateur.username}}</p></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>
</div>
{% endblock %}
