{% extends 'maitreRestaurant.html' %}
{% load crispy_forms_tags %}

{% block titre %} 
   Restaurant - {{ restaurant.nomRestaurant }}
{% endblock %}

{% block contenu %}
<style>
    .btn-no-underline {
        text-decoration: none !important; 
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Détails du restaurant</div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Nom du restaurant:</dt>
                        <dd class="col-sm-9">{{ restaurant.nomRestaurant }}<a href="https://www.google.ca/maps/search/{{ restaurant.nomRestaurant }},{{ restaurant.villeRestaurant }}" class="btn-no-underline">   📍</a></dd>

                        <dt class="col-sm-3">Ville:</dt>
                        <dd class="col-sm-9">{{ restaurant.villeRestaurant }}</dd>

                        <dt class="col-sm-3">Type de restaurant:</dt>
                        <dd class="col-sm-9">{{ restaurant.typeRestaurant }}</dd>

                        <dt class="col-sm-3">Note de la communauté:</dt>
                        <dd class="col-sm-9">
                            {% if restaurant.moyenneNote != null %}
                            {{ restaurant.moyenneNote }}⭐</p>
                            {% else %}
                            Aucune note
                            {% endif %}</dd>
                    
                    </dl>
                    <a href="{% url 'listeRestaurant' %}" class="btn btn-primary">Retour</a>
                    {% if user.is_staff %}
                    <a href="{% url 'modifierRestaurant' restaurant.noRestaurant %}" class="btn btn-danger">Modifier</a>
                    <a href="{% url 'supprimerRestaurant' restaurant.noRestaurant %}" class="btn btn-danger">Supprimer</a>     
                    {% endif %}
                </div>
                <div class="card-footer">
                    {% if user.is_authenticated %}
                        {% if commentaire_exist %}
                            <a href="#" class="btn btn-outline-primary">Vous avez déjà commenté ce restaurant</a>
                        {% else %}
                        <a href="{% url 'ajouterCommentaire' restaurant.noRestaurant %}" class="btn btn-outline-primary">🖍️ Rédiger un commentaire</a>
                        {% endif %}
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-primary">🖍️ Rédiger un commentaire (Connexion)</a>
                    {% endif %}
                </div>
            </div>  
            <br>        
<br/>
            {% for commentaire in commentaires %}
                <div class="card mt-3">
                    <div class="card-body">
                        {% if commentaire.userName == user %}
                            <p class="card-text"><strong>{{ commentaire.userName }} - {{ commentaire.dateCommentaire }}<a href="{% url 'modifierCommentaire' commentaire.noCommentaire %}" class="btn-no-underline"> 🖍️</a><a href="{% url 'supprimerCommentaire' commentaire.noCommentaire %}" class="btn-no-underline"> 🗑️</a></strong></p>
                            {% else %}
                            <p class="card-text"><strong>{{ commentaire.userName }} - {{ commentaire.dateCommentaire }}</strong></p>
                        {% endif %}
                        <p class="card-text">{{ commentaire.commentaire }}</p>
                        <p class="card-text">Note: {{ commentaire.note }}⭐</p>
                        {% if user.is_staff %}
                        <a href="{% url 'supprimerCommentaire' commentaire.noCommentaire %}" class="btn btn-outline-danger">Supprimer</a> 
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
