{% extends 'maitreRestaurant.html' %}
{% load crispy_forms_tags %}
{}

{% block titre %} 
   Liste des restaurants
{% endblock %}

{% block contenu %}  
<style>
    .card-link {
        text-decoration: none; 
        color: inherit; 
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-deck">
                {% for restaurant in restaurants %}
                <a href="{% url 'detailRestaurant' restaurant.noRestaurant %}" class="card-link"> 
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="card-title">{{ restaurant.nomRestaurant }}</h5>
                                </div>
                                <div class="col-4 text-center">
                                    <i class="fas fa-map-pin"></i>
                                    <p class="card-text">{{ restaurant.villeRestaurant }}</p>
                                </div>
                                <div class="col-4 text-right">
                                    <p class="card-text">{{ restaurant.typeRestaurant.nomType }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="text-center">
                {% if user.is_authenticated %}
                <a href="{% url 'ajoutRestaurant' %}" class="btn btn-outline-success">➕ Ajouter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
